################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TraceARay/v15


# Added at a later stage in time
/Debug
/Release
/XCBuildData
/TraceARay.build
/TraceARay.xcodeproj/project.xcworkspace
/TraceARay.xcodeproj/xcuserdata
